includes:
	- phpstan-algoritma-config.php

parameters:
	level: 6
	excludePaths:
		- **/node_modules/*
		- **/vendor/*
	ignoreErrors:
	    - '#is used zero times and is not analysed.$#'
	    - '# will always evaluate to true.$#'