includes:
    - phpstan-baseline.neon
    - phpstan-algoritma-config.php

parameters:
	level: 6
	phpVersion: 80200
	excludePaths:
		- **/node_modules/*
		- **/vendor/*
	ignoreErrors:
	    - '#is used zero times and is not analysed.$#'
	    - '# will always evaluate to true.$#'
	    -
	        message: '#Multiple class/interface/trait is not allowed in single file#'
	        path: tests/
