includes:
    - phpstan-algoritma-config.php

parameters:
	level: 6
	phpVersion: 80200
	excludePaths:
		- **/node_modules/*
		- **/vendor/*
	type_coverage:
	    constant: 0
	ignoreErrors:
	    - '# will always evaluate to true.$#'
	    -
	        message: '#Multiple class/interface/trait is not allowed in single file#'
	        paths:
	            - tests/
	            - src/Core/B2BTraits.php
